h2,
h3 {
  margin: 0;
  color: #003670;
}

p {
  font-size: 1.1em;
}

.div-container {
  max-width: 400px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.result-header {
  // color: #666666;
  font-weight: bold;
}

.flex-list {
  display: flex;
  align-items: center;
}

.infra-types {
  justify-content: space-between;
  max-width: 400px;

  p {
    margin: 0;
  }

  .color {
    border: 0.5px solid lightgray;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 1rem;
  }
}

.slider {
  width: 100%;
}

#plotlyChart {
  // width: 100%;
  height: 400px;
}
