<mat-toolbar>
  <!-- <button
    matIconButton
    class="toolbar-icon"
    aria-label="Application menu"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/files-list">Search the Database</button>
    <button mat-menu-item routerLink="/about">About Our Research</button>
  </mat-menu> -->

  <span class="home-link" routerLink="/home">ACCLIMATE</span>
  <span class="toolbar-spacer"></span>

  <!-- <button matIconButton class="toolbar-icon" aria-label="User account icon">
    <mat-icon>account_circle</mat-icon>
  </button> -->
</mat-toolbar>

<router-outlet></router-outlet>
